@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

section {
  @include padding(150px 0 0 0);
  position: relative;
  z-index: 3;
}

.statistics {
  @include padding(150px 0 150px 0);
}

.section-heading {
  @include margin-bottom(60px);
}

section {
  .section-heading h2 {
    position: relative;
    display: inline-block;
  }
}

.section-heading p {
  margin-bottom: 0;
}

.text-justify {
  text-align: justify;
}

.nishan-icon {
  font-family: "Nishan Icons";
  cursor: none;
}
.hover-links {
  display: inline-block;
  margin-bottom: -13px;

  .hover-link {
    transition: all .5s ease-in-out !important;
    @include font-size(72px);
    transform: translateY(0);
    &.hidden {
      position: absolute;
      opacity: .7;
      width: 100%;
      left: 0;
      a {
        @include font-size(72px);
        &.text-white:hover {
          color: #fff !important;
        }
        &:hover {
          color: $primary !important;
        }
      }
    }
  }

  &:hover .hover-link {
    transform: translateY(-100%);
  }
}
