@use "../helpers/vars" as *;
@use "../bootstrap/vendor/rfs" as *;
@use "../helpers/mixins" as *;

* {
  margin: 0;
  padding: 0;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  overflow-x: hidden;
  transition: all .5s ease-in-out;
  &.black-bg {
    background-color: $primary;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

body {
  @include font-size(20px);
  font-family: 'IBM', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM', sans-serif;
  font-weight: lighter;
  color: $primary;
}

h1 {
  @include font-size(72px);
}

h2 {
  @include font-size(62px);
}

h3 {
  @include font-size(36px);
}

h4 {
  @include font-size(24px);
  font-weight: normal;
}

h5 {
  @include font-size(18px);
}

h6 {
  @include font-size(16px);
}

p,
q {
  @include font-size(24px);
  margin: 0;
  color: $text;
  font-family: 'IBM', sans-serif;
  font-weight: lighter;
}

p.small,
q.small,
span {
  @include font-size(16px);
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  @include font-size(20px);
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

a {
  color: $primary;
  @include font-size(20px);
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $linkHover !important;
  }
}

img {
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
  padding-top: 15px !important;
}

hr {
  color: $border;
  opacity: 1 !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $scroll;
  border-radius: 50px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-control {
  background-color: transparent;
  border: none;
  min-height: 60px;
  border-bottom: 1px solid $border;
  position: relative;
  z-index: 999999;
  width: 100%;
  outline: none;
  color: $primary;
  @include font-size(24px);
  padding-#{$start_dir}: 20px;
}

.form-control:focus {
  box-shadow: none;
  border: none;
}

label {
  @include font-size(20px);
}

@include media($md) {
  // .wow {
  //   transition-property: none !important;
  //   transform: none !important;
  //   animation: none !important;
  // }
}
$delay: 100;

@for $el from 1 through 20 {
  .animation-delay-#{$el} {
    animation-delay: #{$delay}ms;
  }

  $delay: 100 + $delay;
}

.custom-cursor {
  position: fixed;
  top: -18px;
  left: -18px;
  display: block;
  width: 70px;
  height: 70px;
  pointer-events: none;
  will-change: transform;
  z-index: 9999;
  transform: matrix(1, 0, 0, 1, -100, -100);
  opacity: 1;
  mix-blend-mode: difference;
  transition: opacity 0.4s ease,
    -webkit-transform 0.15s cubic-bezier(0, 0.89, 0.49, 0.92);
  transition: transform 0.15s cubic-bezier(0, 0.89, 0.49, 0.92),
    opacity 0.4s ease;
  transition: transform 0.15s cubic-bezier(0, 0.89, 0.49, 0.92),
    opacity 0.4s ease, -webkit-transform 0.15s cubic-bezier(0, 0.89, 0.49, 0.92);
}

.custom-cursor .cursor {
  transform: scale(0.45);
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  will-change: transform;
  width: 70px;
  height: 70px;
  float: left;
  border-radius: 100%;
  margin-top: -20px;
  margin-left: -20px;
  background: #fff;
}
.custom-cursor.custom-cursor-active {
  opacity: 1;
}

.custom-cursor.custom-cursor-active .cursor {
  transform: scale(1);
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .custom-cursor {
    display: none !important;
  }
}

.progress-line {
  z-index: 99999;
  width: 100vw;
  top: -4px;
  line-height: 0;
}

.progress-line span {
  display: inline-block;
  width: 0;
  height: 3px;
  background: $primary;
  z-index: 99999999;
}
.container {
  padding-#{$end_dir}: 20px;
  padding-#{$start_dir}: 20px;
}

// Select 2
.select2-container {
  width: 100% !important;
}
.select2-container * {
  outline: none !important;
}
.select2.select2-container--open {
  .select2-selection__arrow img {
    transform: rotate(90deg);
  }
}

.select2-container--default .select2-selection--single {
  min-height: 60px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 0;
}

.select2-container--open .select2-selection--single {
  background-color: #fff;
}

.select2-selection__rendered {
  color: #757575 !important;
  line-height: 60px !important;
  outline: none !important;
  box-shadow: none !important;
  @include font-size(24px);
  padding: 0 !important;
  padding-#{$start_dir}: 20px !important;
  border-bottom: 1px solid $primary;
}
.select2-selection__rendered.active {
  border: none;
}
.select2-container.active .select2-selection__rendered {
  color: $primary !important;
}
.select2-selection__arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 30px !important;
  height: 30px !important;
  #{$end_dir}: 15px !important;

  img {
    transition: all .2s ease-in-out;
  }

  b {
    display: none;
  }
}

.select2-dropdown {
  border-color: $primary;
  border-radius: 0;
  z-index: 9999999999;
}
.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  border: 1px solid $primary !important;
}

.select2-container--open .select2-dropdown.select2-dropdown--below {
  top: -5px;
}

.select2-container--open .select2-dropdown.select2-dropdown--above {
  top: 5px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  padding: 10px 20px !important;
  border-radius: 5px !important;
  outline: none !important;
  border-color: #e2e2e2 !important;
}

.select2-results li {
  @if ($lang =="ar") {
    @include padding-right(30px);
  } @else {
    @include padding-left(30px);
  }
}
.select2-results__option {
  text-transform: capitalize;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $primary;
  transition: all .3s ease-in-out;
}
.section-changing-color * {
  transition: all .5s ease-in-out !important;
}
.section-changing-color {
  transition: all .5s ease-in-out !important;
}
.animation-wrap {
  transition: none !important;
}

.nishan-mail {
  @include font-size(62px);

  position: relative;
  display: inline-block;
  color: $primary;
  overflow: hidden;
  background: linear-gradient(
    to right,
    $secondary,
    $secondary 50%,
    $primary 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 400ms ease-in-out;
  text-decoration: none; // text decorations are clipped in WebKit browsers
  &:hover {
    background-position: 0 100%;
  }
}
.amk-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  #{$start_dir}: 0;
  background: #fff;
  z-index: 9999;
}
.lds-roller {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $primary;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
