@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.home {
  @include media($md) {
    min-height: 90vh;
  }
  @include media($lg) {
    margin-top: 0px !important;
  }
  h1 {
    @include padding-bottom(50px);
  }
  h1,
  h2,
  a {
    @include font-size(72px);
    @include media ($lg) {
      @include font-size(80px);
    }
    @include media ($md) {
      @include font-size(100px);
    }
    @include media ($sm) {
      @include font-size(90px);
    }
  }

  h1,
  p,
  h2 {
    transition: all .3s ease-in-out;
  }

  .line-wrapper {
    transform: translateY(5px);
    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $primary;
      background-color: $primary;
      position: absolute;
      bottom: -10px;
      left: 0;
      transform: scaleX(.5);
      transform-origin: bottom left;
      transition: all .3s ease-in-out;
    }

    &:hover::before {
      transform: scaleX(1);
    }
    &.text-white::before {
      background-color: #fff;
    }
  }
}
