@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .hover-links {
    display: inline-block;
    margin-bottom: -13px;

    .hover-link {
      transition: all .3s ease-in-out !important;
      @include font-size(72px);
      transform: translateY(0);
      &.hidden {
        position: absolute;
        opacity: .7;
        width: 100%;
        left: 0;
        a {
          @include font-size(72px);
          &.text-white:hover {
            color: #fff !important;
          }
          &:hover {
            color: $primary !important;
          }
        }
      }
    }

    &:hover .hover-link {
      transform: translateY(-100%);
    }
  }
  @include media($lg) {
    margin-top: 0px !important;
  }
  h1 {
    @include padding-bottom(50px);
  }

  h1,
  p,
  h2 {
    transition: all .3s ease-in-out;
  }

  .home-circle-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    .home-circle {
      width: 35rem;
      height: 35rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $primary;
      border-radius: 50%;

      &.active {
        background-color: $primary;
      }

      @include media ($lg) {
        width: 25rem;
        height: 25rem;
      }

      @include media ($md) {
        width: 15rem;
        height: 15rem;
      }
    }
  }
}
