@use "../helpers/vars" as *;
@use "../bootstrap/vendor/rfs" as *;

.button {
  cursor: pointer;
  border: none;
  display: inline-block;
  text-align: center;
  padding: 12px 30px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  background: $primary;
  border-radius: 10px;
  font-weight: normal;
  transition: all .3s ease-in-out;

  &:hover,
  &.alt {
    color: #fff !important;
    background: $secondary;
  }
  &.alt:hover {
    background-color: $primary;
    color: #fff;
  }
}

.btn-close {
  background-color: transparent;
  border: none;

  img {
    width: 30px;
  }
}
