@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.about-page {
  // Video
  .video-img-placeholder {
    background-image: url("../images/brand_1.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.649);
      top: 0;
      left: 0;
    }
    .play-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      cursor: pointer;
      &:hover::before {
        animation: ripple-white 1s linear reverse infinite;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        @include media ($lg) {
          width: 60px;
          height: 60px;
        }
        background-color: $secondary;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        animation: ripple-white 1s linear infinite;
      }
      img {
        width: 20px;
        position: relative;
        z-index: 9999;
        @include media ($lg) {
          width: 15px;
        }
      }
    }
    @keyframes ripple-white {
      0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
          0 0 0 20px rgba(255, 255, 255, 0.1),
          0 0 0 40px rgba(255, 255, 255, 0.1);
      }
      100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
          0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0);
      }
    }
  }
  // Features
  .features {
    h2 {
      color: #efefef;
    }
    .box {
      .nishan-icon {
        font-size: 70px;
      }
    }
  }
  // Our Team
  .our-team {
    @include padding-bottom(150px);
    .member {
      img {
        max-width: 240px;
        max-height: 300px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include media ($lg) {
          max-width: unset;
          max-height: unset;
          height: auto;
        }
      }
    }
  }
  .insight {
    background-color: $gray;
    @include padding-bottom(150px);
    .insight-section {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .insight-section.horizontal .pin-wrap,
    .insight-section.horizontal .animation-wrap {
      display: flex;
      position: relative;
      z-index: 1;
      // height: 70vh;
      gap: 50px;
    }

    .insight-section.horizontal {
      position: relative;
      flex: 0 0 auto;
      height: 100%;
      user-select: none;
      @include media ($lg) {
        overflow-x: hidden;
      }

      .insight-card {
        * {
          cursor: pointer;
        }
        .img {
          width: 600px;
          height: 300px;
          object-fit: cover;
          @include media($lg) {
            width: 100%;
            height: 100%;
            max-height: 300px;
            max-width: 400px;
          }
        }
        .title {
          margin-top: 25px;
          .nishan-icon {
            font-size: 50px;
            line-height: 0;
            opacity: 0;
          }
        }
        &.note {
          background-color: #fff1b4;
          width: 600px;
          height: 300px;
          @include padding(45px);
          &.more {
            background-color: transparent;
            border: 1px solid $primary;
            transition: all .3s ease-in-out;
            h4,
            .nishan-icon {
              transition: all .3s ease-in-out;
            }
            &:hover {
              background-color: $secondary;
              border-color: $secondary;
              h4,
              .nishan-icon {
                color: #fff;
              }
            }
            .nishan-icon {
              font-size: 60px;
            }
          }
        }
        &:hover {
          .nishan-icon {
            opacity: 1;
          }
        }
      }
    }
    .swiper-wrapper {
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-slide {
        width: 80%;
      }

      .insight-card {
        * {
          cursor: pointer;
        }
        .img {
          width: 100%;
          height: auto;
          aspect-ratio: 1 /1;
          object-fit: cover;
        }
        .title {
          margin-top: 25px;
          @include font-size(24px);
          .nishan-icon {
            font-size: 50px;
            line-height: 0;
          }
        }
        &.note {
          background-color: #fff1b4;
          width: 100%;
          height: auto;
          @include padding(45px);
          h4 {
            @include font-size(16px);
          }
          &.more {
            background-color: transparent;
            border: 1px solid $primary;
            transition: all .3s ease-in-out;
            h4,
            .nishan-icon {
              transition: all .3s ease-in-out;
            }
            &:hover {
              background-color: $secondary;
              border-color: $secondary;
              h4,
              .nishan-icon {
                color: #fff;
              }
            }
            .nishan-icon {
              font-size: 60px;
            }
          }
        }
      }
    }
    .all-insightes-btn {
      .nishan-icon {
        font-size: 40px;
        line-height: 0;
      }
    }
  }
}

.features *,
.our-team * {
  transition: all .5s ease-in-out !important;
}
.features,
.our-team {
  transition: all .5s ease-in-out !important;
}
