@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.insight_single-page {
  .story {
    margin-top: 50px;
    @include media($xl) {
      margin-top: 98px;
    }
    h1,
    .story-desc {
      @include font-size(64px);
    }
  }
  .story-boxes {
    @include media($md) {
      row-gap: 50px;
    }
    h4 {
      color: #b9b9b9;
    }
    li {
      @include font-size(24px);
    }
  }
  .gallary {
    @include padding-bottom(150px);
  }
  .store-img {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @supports (-webkit-touch-callout: none) {
    .store-img {
      background-size: auto 100vh;
      background-attachment: scroll;
    }
  }
  .story-gallary {
    margin-top: 100px;
    margin-bottom: 100px;
    img:not(.not-coverd) {
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    .not-coverd {
      padding-top: 24px;
      @include media($md) {
        padding-top: 0;
      }
    }
  }
  .next-project a {
    @include font-size(64px);
    .nishan-icon {
      display: inline-block;
      @include font-size(60px);
      line-height: 30px;
      transition: all .3s ease-in-out;
      color: $primary !important;
    }
    @if ($lang =="ar") {
      .nishan-icon {
        transform: translate(0, 0) scale(-1) rotate(90deg);
      }
    }
    &:hover {
      .nishan-icon {
        transform: translate(-10px, -10px);
        @if ($lang =="ar") {
          transform: translate(-10px, -10px) scale(-1) rotate(90deg);
        }
      }
    }
  }
  .copy-note {
    cursor: pointer;
    span {
      color: $primary;
      margin-#{$end_dir}: 20px;
    }
    &.page {
      span {
        margin-#{$start_dir}: 20px;
        margin-#{$end_dir}: unset;
        display: inline-block;
        transform: translateY(-10px);
        color: $secondary;
      }
    }
    .copy-icon {
      transform: translateY(-10px);
      max-width: 30px;
    }
  }
}
