@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.clients-area {
  .page-top {
    background-color: #f6f6f6;
    @include padding(70px 0);
  }
  .page-content {
    @include margin-top(115px);
  }
  small {
    color: #969696;
    font-size: 14px;
  }
  .login-form,
  .otp-form {
    .button {
      @include margin-top(60px);
    }
  }
  .otp-container {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
  }

  .otp-input {
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    border-bottom: 1px solid $primary;
    outline: none;
    &::placeholder {
      color: #c4c4c4;
    }
  }
  .welcome {
    @include font-size(22px);
  }
  header .logout-btn {
    border: none;
    background-color: transparent;
    outline: none;
    @include font-size(22px);
  }
  .counter {
    color: $secondary;
    // @include font-size(24px);
  }
  .filter-tabs {
    margin-bottom: 20px;
  }

  .tab {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .tab.active {
    background-color: #ccc;
  }

  .items-container {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .item.completed {
    background-color: #aaffaa;
  }

  .item.in-process {
    background-color: #ffffaa;
  }

  .item.expired {
    background-color: #ffaaaa;
  }
}
