@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.clients-area {
  .page-top {
    background-color: #f6f6f6;
    @include padding(70px 0);
  }
  .page-content {
    @include margin-top(115px);
  }
  small {
    color: #969696;
    font-size: 14px;
  }
  .login-form,
  .otp-form {
    .button {
      @include margin-top(60px);
    }
  }
  .otp-container {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
  }

  .otp-input {
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    border-bottom: 1px solid $primary;
    outline: none;
    &::placeholder {
      color: #c4c4c4;
    }
  }
}
