@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.contact-page {
  // From Section
  .form-section {
    .choices-forms {
      height: 0;
    }
    .choices-container {
      .choice {
        cursor: pointer;
        @include media ($md) {
          @include font-size(36px);
        }
        &.active {
          text-decoration: line-through;
        }
      }
    }
    .choice-form {
      display: none;
      &.active {
        display: block;
      }
    }
    .button[type="submit"] {
      @include font-size(24px);
    }
  }
  // FAQ
  .faq {
    @include padding-bottom(150px);
    hr {
      opacity: 0.1 !important;
      margin: {
        top: 40px;
        bottom: 40px;
      }
    }
    .accordion-item {
      border: none;
      transition: all .3s ease-in-out;
      h4 {
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          border-right: 1px solid $secondary;
          border-bottom: 1px solid $secondary;
          border-bottom-right-radius: 2px;
          transform: rotate(45deg);
          position: absolute;
          cursor: pointer;
          top: 0;
          #{$end_dir}: 0;
          transition: all .3s ease-in-out;
        }
        &.collapsed::after {
          transform: rotate(-45deg);
        }
        &.text-white::after {
          border-color: #fff;
        }
      }

      h4,
      p {
        @include font-size(24px);
      }
      p {
        padding-#{$end_dir}: 100px;
        @include media ($lg) {
          padding-#{$end_dir}: 0;
        }
      }
      .accordion-header {
        display: flex;
        align-items: center;
      }
      .accordion-button {
        background-color: transparent;
        color: $primary;
        font-weight: bold;
        padding-#{$end_dir}: 40px;
        display: inline-block;
        width: 100%;
        border: none;
        box-shadow: none;
      }
    }
  }
}

.border-effect ~ .focus-border:before,
.border-effect ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: $border;
  transition: 0.2s;
  transition-delay: 0.2s;
}

.border-effect ~ .focus-border:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}

.border-effect ~ .focus-border i:before,
.border-effect ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background-color: $border;
  transition: 0.2s;
}

.border-effect ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}

.border-effect:focus ~ .focus-border:before,
.border-effect:focus ~ .focus-border:after,
.border-effect:not(textarea):valid ~ .focus-border::before,
.border-effect:not(textarea):valid ~ .focus-border::after,
.border-effect.active ~ .focus-border:before,
.border-effect.active ~ .focus-border:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}

.border-effect:focus ~ .focus-border:after,
.border-effect:not(textarea):valid ~ .focus-border:after,
.border-effect.active ~ .focus-border:after {
  transition-delay: 0.2s;
}

.border-effect:focus ~ .focus-border i:before,
.border-effect:focus ~ .focus-border i:after,
.border-effect:not(textarea):valid ~ .focus-border i:before,
.border-effect:not(textarea):valid ~ .focus-border i:after,
.border-effect.active ~ .focus-border i:before,
.border-effect.active ~ .focus-border i:after {
  height: 100%;
  transition: 0.2s;
}

.border-effect:focus ~ .focus-border i:after,
.border-effect:not(textarea):valid ~ .focus-border i:after,
.border-effect.active ~ .focus-border i:after {
  transition-delay: 0.4s;
}

textarea.border-effect ~ .focus-border:after {
  top: auto;
  bottom: 8px;
  right: auto;
  left: 0;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
textarea.border-effect:focus ~ .focus-border i:after,
textarea.border-effect:focus ~ .focus-border i:before {
  height: 96.5%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: $primary;
}

textarea.border-effect.active ~ .focus-border i:before,
textarea.border-effect.active ~ .focus-border i:after {
  height: 96.5%;
  transition: 0.2s;
}
textarea.border-effect ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 8px;
  -webkit-transition-delay: 0.4s !important;
  transition-delay: 0.4s !important;
}
.border-effect.error ~ .focus-border i:before,
.border-effect.error ~ .focus-border i::after,
.border-effect.error ~ .focus-border:before,
.border-effect.error ~ .focus-border::after {
  background-color: red !important;
}
.border-effect.error {
  border-color: red !important;
}
div[id*="-error"] {
  display: none !important;
}
