@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
@use "../bootstrap/vendor/rfs" as *;

.store-page {
  &:not(.details) .select2-search--dropdown {
    display: none;
  }
  .custom-radio label span,
  .package-list h4,
  .custom-checkbox .checkbox.bounce {
    @include font-size(20px);
  }
  .custom-radio label span:before,
  .custom-checkbox .checkbox svg {
    width: 25px;
    height: 25px;
  }
  .custom-checkbox .checkbox svg {
    left: 0;
  }
  .custom-checkbox .checkbox input {
    width: 25px;
    height: 25px;
    min-width: 25px;
  }

  %service-list {
    li {
      @include font-size(20px);
      @include padding(20px 65px);

      border-top: 1px solid $primary;
      &:last-child {
        border-bottom: 1px solid $primary;
      }
    }
  }

  %service-payment-details {
    @include padding(40px 65px);
    li {
      @include font-size(20px);
    }
  }

  .filters {
    margin-bottom: 45px;
    .view-as {
      .hidden-checkbox {
        position: relative;
        input {
          position: absolute;
          opacity: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          cursor: pointer;
          top: 0;
          left: 0;
          &:checked + h4 {
            color: $secondary;
          }
        }
      }
      @include media($md) {
        h4 {
          @include font-size(18px);
        }
      }
    }
    .sort-by {
      .select2-container {
        max-width: 200px;
        width: 100%;
        .select2-container--default
          .select2-selection--single
          .select2-selection__rendered {
          text-align: $start_dir !important;
        }
      }
      .select2-selection__rendered {
        border-bottom: 0;
      }
    }
  }
  .steps {
    background-color: #f6f6f6;
    counter-reset: step;
    @include padding(70px 0);
    .user-steps {
      li {
        &::before {
          counter-increment: step;
          content: counter(step);
          color: $primary;
          background-color: transparent;
          font-size: 16px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          border: 1px solid $primary;
          margin-#{$end_dir}: 5px;
        }
        &.active::before {
          color: #fff;
          background-color: $primary;
        }
        @include media ($sm) {
          &:not(.active) {
            text-indent: -9999px;
            &::before {
              float: $start_dir;
              text-indent: 0;
            }
          }
        }
      }
    }
  }
  .services {
    @include margin-top(115px);
    @include media ($xl) {
      @include margin-bottom(115px);
    }
    &.page {
      @include margin-top(40px);
      .service-spacer {
        @include padding-top(75px);
      }
    }
    .service-col {
      background-color: #fff;
      @media (min-width: 992px) {
        max-width: 46%;
        width: 100%;
        padding: 0;
      }
    }
    .service {
      border: 1px solid $primary;
      &.selected-service {
        // border-width: 2px;
      }
      @include padding(45px 65px);
      .badge {
        border: 1px solid $primary;
        border-radius: 19px;
        padding: 5px 20px;
        background-color: #fff;
      }
      .price {
        color: $secondary;
      }
    }
    .accordion-service {
      @include padding(45px 0 0);
      .service-details {
        border-top: 1px solid $primary !important;
        padding: 20px 0;
        cursor: pointer;
        display: none;
        color: $primary;
        &.show {
          display: block;
        }
      }
      .service-list {
        @extend %service-list;
      }
      .service-payment-details {
        @extend %service-payment-details;
      }
      .process-checkout {
        border-radius: 0;
        background-color: $secondary;
        padding: 20px 0;
        display: none;
        color: #fff;
        border-top: 2px solid $primary;
        &:hover {
          background-color: $primary;
        }
        &.show {
          display: block;
        }
      }
      .copy-note {
        cursor: pointer;
        display: none;

        span {
          color: $primary;
          margin-#{$end_dir}: 20px;
        }
        &.page {
          span {
            margin-#{$start_dir}: 20px;
            margin-#{$end_dir}: unset;
            display: inline-block;
            transform: translateY(-10px);
            color: $secondary;
          }
        }
        .copy-icon {
          max-width: 30px;
        }
      }
      .items-selected {
        @include font-size(18px);
        color: #a5a5a5;
      }
      &.product {
        .badge {
          position: absolute;
          top: 30px;
          @media (min-width: 1200px) {
            #{$start_dir}: 4.0625rem;
          }
          #{$start_dir}: calc(1.53125rem + 3.375vw);
          z-index: 999;
          background-color: #fff;
        }
        .swiper-pagination {
          text-align: $end_dir;
          padding-#{$end_dir}: 30px;
          .swiper-pagination-bullet-active {
            background-color: $primary;
          }
        }
        .product-image {
          aspect-ratio: 16 / 9;
          object-fit: cover;
        }
      }
      &.customized {
        background-color: #f6dec8;
        .service-control {
          background-color: #fff;
          .package-option {
            .heading {
              cursor: pointer;
              @include padding(20px 65px);
              border-top: 1px solid $primary;
              h4 {
                margin-bottom: 0;
                @include font-size(20px);
              }
              .arrow {
                display: block;
                width: 20px;
                height: 20px;
                border-#{$end_dir}: 1px solid $primary;
                border-bottom: 1px solid $primary;
                border-bottom-#{$end_dir}-radius: 2px;
                transform: rotate(-45deg);
                cursor: pointer;
                transition: all .3s ease-in-out;
              }
            }
            .options {
              @extend %service-list;
              background-color: #f4f4f4;
              .custom-radio label span:before,
              .custom-checkbox .checkbox input {
                background-color: transparent;
              }
              .custom-radio input[type="number"] {
                background-color: transparent;
                border: none;
                @include font-size(20px);
                @media (min-width: 1200px) {
                  max-width: 70%;
                  padding-#{$start_dir}: 20px;
                }
                &:focus {
                  border: none;
                  outline: none;
                }
              }
            }
            &.active {
              .arrow {
                transform: rotate(45deg);
              }
            }
          }
          .package-list {
            @include padding(20px 65px);
            border-top: 1px solid $primary;
            input[type="number"] {
              background-color: transparent;
              border: none;
              @include font-size(20px);
              @media (min-width: 1200px) {
                max-width: 60%;
                padding-#{$start_dir}: 20px;
              }
              &:focus {
                border: none;
                outline: none;
              }
            }
            textarea {
              background-color: transparent;
              border: none;
              @include font-size(20px);
              &:focus {
                border: none;
                outline: none;
              }
            }
          }
        }
      }
    }
    @include media($md) {
      h4,
      p,
      .items-selected,
      .custom-radio label span,
      .service-details,
      .service-list li,
      .service-payment-details li,
      .process-checkout,
      .custom-checkbox .checkbox.bounce,
      .service-control .package-list input[type=number],
      .service-control .package-list textarea,
      .service-control .custom-radio input[type=number] {
        font-size: 18px !important;
      }
      .custom-radio label span:before,
      .custom-checkbox .checkbox input {
        width: 25px;
        height: 25px;
        min-width: 25px;
      }
      .custom-checkbox .checkbox svg {
        width: 25px;
        height: 25px;
        left: 0;
      }
    }
    svg:focus {
      outline: none;
    }
    @include media($md) {
      .selected-items {
        position: relative;

        svg {
          position: absolute;
          right: -8px;
          top: 2px;
        }
      }
    }
  }
}

// Details Page
.agreement-details {
  .tabs {
    @include margin-bottom(50px);
    li {
      @include font-size(20px);
      @include media($md) {
        @include font-size(18px);
      }
      color: #bfbfbf;
      cursor: pointer;
      transition: color .3s ease-in-out;
      &.active {
        color: $primary;
      }
    }
  }
}
.client-box {
  .single-box {
    display: none;
    animation: fadeIn 1s ease-in-out forwards;

    .selected-service {
      padding: 0;
      .service-container {
        @include padding(30px 65px);
      }
      &.product {
        .service-container {
          padding: 0;
        }

        .badge {
          position: absolute;
          top: 30px;
          @media (min-width: 1200px) {
            #{$start_dir}: 4.0625rem;
          }
          #{$start_dir}: calc(1.53125rem + 3.375vw);
          z-index: 999;
          background-color: #fff;
        }
        .swiper-pagination {
          text-align: $end_dir;
          padding-#{$end_dir}: 30px;
          .swiper-pagination-bullet-active {
            background-color: $primary;
          }
        }
        .product-image {
          aspect-ratio: 16 / 9;
          object-fit: cover;
        }
      }
      .service-list {
        @extend %service-list;
      }
      .service-payment-details {
        @extend %service-payment-details;
      }
    }

    &#terms {
      border: 2px solid $primary;
      @include padding(45px 65px);
    }
    &#faqs {
      @include padding(21px 0);
      border: 2px solid $primary;
      .accordion-item {
        border-bottom: 1px solid $primary !important;
        &.last {
          border: none !important;
        }
        @include padding(24px 65px);
        border: none;
        transition: all .3s ease-in-out;
        h4 {
          position: relative;
          cursor: pointer;
          margin: 0;
          text-transform: uppercase;
          &::after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border-#{$end_dir}: 1px solid $primary;
            border-bottom: 1px solid $primary;
            border-bottom-#{$end_dir}-radius: 2px;
            transform: rotate(45deg);
            position: absolute;
            cursor: pointer;
            top: 0;
            #{$end_dir}: 0;
            transition: all .3s ease-in-out;
          }
          &.collapsed::after {
            transform: rotate(-45deg);
          }
        }

        h4,
        p {
          @include font-size(20px);
        }
        p {
          padding-#{$end_dir}: 100px;
          @include media ($lg) {
            padding-#{$end_dir}: 0;
          }
        }
        .accordion-header {
          display: flex;
          align-items: center;
        }
        .accordion-button {
          background-color: transparent;
          color: $primary;
          font-weight: bold;
          padding-#{$end_dir}: 40px;
          display: inline-block;
          width: 100%;
          border: none;
          box-shadow: none;
        }
        @include media($md) {
          .accordion-item .accordion-button {
            font-size: 18px;
          }
        }
      }
    }
  }
  .single-box.active {
    display: block;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// From Side
.form-side {
  .form-h-s {
    margin-bottom: 25px;
  }
  #client-form {
    margin-top: 50px;
    .hint {
      @include font-size(20px);
      color: #9f9f9f;
    }
    .uploaded-file {
      margin-top: 10px;
      background-color: #a0f7ef;
      border-radius: 10px;
      @include padding(24px 27px);

      img {
        max-width: 20px;
        width: 100%;
        cursor: pointer;
      }
    }
    .payment-radio {
      svg {
        position: absolute;
        left: 40px;
      }
      span:before {
        margin-right: 50px;
      }
      small {
        color: #969696;
        @include font-size(20px);
      }
    }
    .bank-account-details {
      display: none;
      .underline {
        text-decoration: underline;
      }
    }
    small {
      color: #969696;
    }

    textarea.border-effect ~ .focus-border:after,
    textarea.border-effect ~ .focus-border::before {
      width: 0;
    }
    textarea.border-effect:focus ~ .focus-border:after,
    textarea.border-effect:focus ~ .focus-border::before,
    textarea.border-effect.active ~ .focus-border:after,
    textarea.border-effect.active ~ .focus-border::before {
      width: 100%;
    }

    textarea.border-effect ~ .focus-border i:after,
    textarea.border-effect ~ .focus-border i::before {
      height: 0;
    }

    textarea.border-effect.active ~ .focus-border i:after,
    textarea.border-effect.active ~ .focus-border i:before {
      height: 95.5% !important;
    }
    @include media($md) {
      h4,
      p,
      .custom-radio label span,
      .custom-checkbox .checkbox.bounce,
      textarea,
      input[type=number],
      input,
      .select2-results li,
      .select2-selection__render,
      .custom-upload__button.outline,
      .button-submit,
      .back-to-store {
        font-size: 18px !important;
      }
      .payment-radio small,
      .custom-upload small {
        font-size: 16px;
      }
      .custom-radio label span:before,
      .custom-checkbox .checkbox input {
        width: 25px;
        height: 25px;
        min-width: 25px;
      }
      .custom-checkbox .checkbox svg {
        width: 25px;
        height: 25px;
        left: 0;
      }
    }
  }
}
// Thank You (Checkout)
.thank-you {
  @include margin-top(115px);
  @include media ($xl) {
    @include margin-bottom(115px);
  }
  @include media($md) {
    h3 {
      font-size: 20px;
    }
    .fact p,
    .button,
    h4,
    .custom-checkbox .checkbox.bounce {
      font-size: 18px;
    }
    .custom-checkbox .checkbox svg {
      width: 25px;
      height: 25px;
      left: 0;
    }
    .custom-checkbox .checkbox input {
      width: 25px;
      height: 25px;
      min-width: 25px;
    }
  }
}
.fact {
  p {
    @include font-size(20px);
  }
  img {
    max-width: 23px;
    width: 100%;
  }
}
.p-65 {
  @include padding(0 65px);
  &.desc {
    @include padding(0 65px 30px 65px);
  }
}
.m-65 {
  @if ($lang =="en") {
    @include margin-left(65px);
  } @else {
    @include margin-right(65px);
  }
}
.pb-45 {
  @include padding-bottom(45px);
}
.desc {
  color: #9f9f9f;
}
.mt-45 {
  @include margin-top(45px);
}

@include media($md) {
  .select2-results li,
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-size: 18px !important;
  }
}
