$lang: "en";

$dir: ltr;
$opp-dir: rtl;
$start-dir: left;
$end-dir: right;
$transform-direction: 1;

@if ($lang =="ar") {
  $dir: rtl;
  $opp-dir: ltr;
  $start-dir: right;
  $end-dir: left;
  $transform-direction: -1;
}

$primary: #000000;
$secondary: #4136f1;
$heading: #000000;
$text: #000000;
$link: #000000;
$linkHover: #4136f1;
$gray: #ebebeb;
$border: #000000;
$scroll: #000000;

$xxl: "max-width: 1399px";
$xl: "max-width: 1199px";
$lg: "max-width: 991px";
$md: "max-width: 768px";
$sm: "max-width: 576px";
